:root {
	--blue: blue;
	--gray: rgb(187, 187, 187);
	--black: #121923;
	--garden-50:  #E7F9ED; 
	--garden-100:  #D0F4DC; 
	--garden-200:  #99EBB6; 
	--garden-300:  #72E097; 
	--garden-400:  #43D675; 
	--garden-500:  #3AB667; 
	--garden-600:  #329659; 
	--garden-700:  #2A764C; 
	--garden-800:  #22563E; 
	--garden-900:  #1A3630; 
	--garden-950:  #162629; 
}

body {
	margin: 0;
	font-family: 'Ibarra Real NovaVariable', serif;
	font-size: 20px;
	line-height: 1.5;
	color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-family: 'Ibarra Real Nova';
	font-weight: 400;
  }
  
  @supports (font-variation-settings: normal) {
	h1 {
	  font-family: 'Ibarra Real NovaVariable';
	  font-variation-settings: "wght" 400;
	}
  }

/* h1 {
	font-size: 2em;
} */

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 20px;
	}
}