:root {
	--gray: rgb(187, 187, 187);
	--black: #121923;
	--garden-50:  #E7F9ED; 
	--garden-100:  #D0F4DC; 
	--garden-200:  #99EBB6; 
	--garden-300:  #72E097; 
	--garden-400:  #43D675; 
	--garden-500:  #3AB667; 
	--garden-600:  #329659; 
	--garden-700:  #2A764C; 
	--garden-800:  #22563E; 
	--garden-900:  #1A3630; 
	--garden-950:  #162629; 
}

/* Normal (non-variable) Ibarra Real fonts */


/* Set up Ibarra for modern browsers, all weights */
@supports (font-variation-settings: normal) {
	/* ibarra-real-nova-latin-variable-wghtOnly-normal */
	@font-face {
		font-family: 'Ibarra Real NovaVariable';
		font-style: normal;
		font-display: swap;
		font-weight: 400 700;
		src: url('fonts/ibarra-real-nova-latin-variable-wghtOnly-normal.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}  
	/* ibarra-real-nova-latin-ext-variable-wghtOnly-normal */
	@font-face {
	font-family: 'Ibarra Real NovaVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 400 700;
	src: url('fonts/ibarra-real-nova-latin-ext-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}  
	/* ibarra-real-nova-latin-variable-wghtOnly-italic */
	@font-face {
		font-family: 'Ibarra Real NovaVariable';
		font-style: italic;
		font-display: swap;
		font-weight: 400 700;
		src: url('fonts/ibarra-real-nova-latin-variable-wghtOnly-italic.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}  
	/* ibarra-real-nova-latin-ext-variable-wghtOnly-italic */
		@font-face {
		font-family: 'Ibarra Real NovaVariable';
		font-style: italic;
		font-display: swap;
		font-weight: 400 700;
		src: url('fonts/ibarra-real-nova-latin-ext-variable-wghtOnly-italic.woff2') format('woff2');
		unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}  
}

/* rebuild the site in test environment */

body {
	margin: 0;
	font-family: 'Ibarra Real NovaVariable', Serif;
	font-weight: 450;
	font-size: 20px;
	font-size: calc(100% + (22 - 18) * ((100vw - 300px)/ (1400 - 300)));
	line-height: 1.5;
	line-height: calc((1.3 * 1em) + (1.5 - 1.3) * ((100vw - 300px)/ (1400 - 300)));
	color: var(--garden-950);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-family: 'Ibarra Real Nova';
	font-weight: 400;
  }
  
  @supports (font-variation-settings: normal) {
	h1 {
	  font-family: 'Ibarra Real NovaVariable';
	  font-variation-settings: "wght" 400;
	}
  }

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		/* font-size: 1rem; */
	}
}