# Mac files
.DS_Store

# Dependency directories
/node_modules

# lerna files
/lerna-debug.log

web/.svelte-kit/dev/generated/manifest.js
web/.svelte-kit/dev/generated/root.svelte
web/slug-list.json
.svelte-kit