<ol reversed class="poemlist" style="counter-reset: start-from {{ poems.length + 1 }}">

{% for tip in tips | reverse %}

  <li class="tiplist-item">

  {%- if poem.name %}
    {{- poem.name -}}
  {% else %}
    <code>
      {{- poem.url -}}
    </code>
  {% endif -%}

  {%- if poem.content %}
    {{ poem.content | markdownify | safe }}
  {% endif -%}

  </li>

{% endfor %}
</ol>